## Deliverable 2. Create a Customer Travel Destinations Map.

In [33]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [34]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head(20)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kaitangata,NZ,-46.2817,169.8464,46.47,68,99,10.38,overcast clouds
1,1,Praya,CV,14.9215,-23.5087,77.54,73,20,12.66,few clouds
2,2,Springbok,ZA,-29.6643,17.8865,65.98,14,32,6.15,scattered clouds
3,3,Hilo,US,19.7297,-155.0900,75.79,94,90,3.44,mist
4,4,Kapaa,US,22.0752,-159.3190,82.38,79,75,5.01,light rain
5,5,Albany,US,42.6001,-73.9662,57.81,93,1,2.13,clear sky
6,6,Bluff,NZ,-46.6000,168.3333,46.83,68,100,10.11,overcast clouds
7,7,Atuona,PF,-9.8000,-139.0333,77.99,74,9,17.31,clear sky
8,8,Kodiak,US,57.7900,-152.4072,42.31,87,90,0.00,light rain
9,9,Vao,NC,-22.6667,167.4833,71.31,86,91,9.98,overcast clouds
10,10,Shitanjing,CN,39.2342,106.3439,54.57,22,71,12.17,broken clouds
11,11,Port Elizabeth,ZA,-33.9180,25.5701,61.09,88,75,10.36,broken clouds
12,12,Faanui,PF,-16.4833,-151.7500,80.67,75,93,10.40,overcast clouds
13,13,New Norfolk,AU,-42.7826,147.0587,62.89,40,98,9.10,overcast clouds
14,14,Tasiilaq,GL,65.6145,-37.6368,30.36,56,3,4.34,clear sky
15,15,Punta Arenas,CL,-53.1500,-70.9167,51.91,43,0,14.97,clear sky
16,16,Lebu,CL,-37.6167,-73.6500,52.03,88,46,3.69,scattered clouds
17,17,Saint-Philippe,RE,-21.3585,55.7679,80.15,84,52,8.32,broken clouds
18,18,Lasa,IT,46.6166,10.7002,43.68,93,67,6.44,broken clouds
19,19,Vaini,TO,-21.2000,-175.2000,73.56,88,20,3.44,few clouds

In [35]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 80

In [36]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
filtered_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Praya,CV,14.9215,-23.5087,77.54,73,20,12.66,few clouds
2,2,Springbok,ZA,-29.6643,17.8865,65.98,14,32,6.15,scattered clouds
3,3,Hilo,US,19.7297,-155.0900,75.79,94,90,3.44,mist
7,7,Atuona,PF,-9.8000,-139.0333,77.99,74,9,17.31,clear sky
9,9,Vao,NC,-22.6667,167.4833,71.31,86,91,9.98,overcast clouds
11,11,Port Elizabeth,ZA,-33.9180,25.5701,61.09,88,75,10.36,broken clouds
13,13,New Norfolk,AU,-42.7826,147.0587,62.89,40,98,9.10,overcast clouds
19,19,Vaini,TO,-21.2000,-175.2000,73.56,88,20,3.44,few clouds
21,21,Arraial Do Cabo,BR,-22.9661,-42.0278,66.16,89,75,5.75,broken clouds
22,22,Bethel,US,41.3712,-73.4140,60.67,93,90,0.00,overcast clouds

In [37]:
# 4a. Determine if there are any empty rows.
filtered_cities_df.count()

City_ID                283
City                   283
Country                277
Lat                    283
Lng                    283
Max Temp               283
Humidity               283
Cloudiness             283
Wind Speed             283
Current Description    283
dtype: int64

In [38]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# there are no empty rows

In [39]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = filtered_cities_df[["City", "Country", "Max Temp", "Humidity", "Cloudiness", "Wind Speed", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Lat,Lng,Hotel Name
1,Praya,CV,77.54,73,20,12.66,few clouds,14.9215,-23.5087,
2,Springbok,ZA,65.98,14,32,6.15,scattered clouds,-29.6643,17.8865,
3,Hilo,US,75.79,94,90,3.44,mist,19.7297,-155.0900,
7,Atuona,PF,77.99,74,9,17.31,clear sky,-9.8000,-139.0333,
9,Vao,NC,71.31,86,91,9.98,overcast clouds,-22.6667,167.4833,
11,Port Elizabeth,ZA,61.09,88,75,10.36,broken clouds,-33.9180,25.5701,
13,New Norfolk,AU,62.89,40,98,9.10,overcast clouds,-42.7826,147.0587,
19,Vaini,TO,73.56,88,20,3.44,few clouds,-21.2000,-175.2000,
21,Arraial Do Cabo,BR,66.16,89,75,5.75,broken clouds,-22.9661,-42.0278,
22,Bethel,US,60.67,93,90,0.00,overcast clouds,41.3712,-73.4140,

In [40]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [44]:
hotel_df.count()

City                   283
Country                277
Max Temp               283
Humidity               283
Cloudiness             283
Wind Speed             283
Current Description    283
Lat                    283
Lng                    283
Hotel Name             283
dtype: int64

In [45]:
import numpy as np

In [46]:
# 7. Drop the rows where there is no Hotel Name.
# Fist I am replacing empty Hotel Name values with nan
hotel_df["Hotel Name"].replace('', np.nan, inplace=True)
hotel_df.dropna(subset=["Hotel Name"], inplace=True)
hotel_df.head(20)

,City,Country,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Lat,Lng,Hotel Name
1,Praya,CV,77.54,73,20,12.66,few clouds,14.9215,-23.5087,LT Aparthotel
2,Springbok,ZA,65.98,14,32,6.15,scattered clouds,-29.6643,17.8865,Undulata Country Lodge
3,Hilo,US,75.79,94,90,3.44,mist,19.7297,-155.0900,Hilo Hawaiian Hotel
7,Atuona,PF,77.99,74,9,17.31,clear sky,-9.8000,-139.0333,Villa Enata
9,Vao,NC,71.31,86,91,9.98,overcast clouds,-22.6667,167.4833,Hotel Kou-Bugny
11,Port Elizabeth,ZA,61.09,88,75,10.36,broken clouds,-33.9180,25.5701,39 On Nile Guest House
13,New Norfolk,AU,62.89,40,98,9.10,overcast clouds,-42.7826,147.0587,The Shingles Riverside Cottages
19,Vaini,TO,73.56,88,20,3.44,few clouds,-21.2000,-175.2000,Keleti Beach Resort
21,Arraial Do Cabo,BR,66.16,89,75,5.75,broken clouds,-22.9661,-42.0278,Pousada Porto Praia
22,Bethel,US,60.67,93,90,0.00,overcast clouds,41.3712,-73.4140,Courtyard by Marriott Danbury
25,Luderitz,NaN,70.05,49,98,3.13,overcast clouds,-26.6481,15.1594,LÜDERITZ NEST HOTEL
26,Lagoa,PT,69.04,71,100,5.70,overcast clouds,39.0500,-27.9833,Casa Das Faias
28,Westport,US,64.15,94,1,1.01,clear sky,41.1415,-73.3579,The Westport Inn
29,Busselton,AU,64.04,53,68,5.59,broken clouds,-33.6500,115.3333,Observatory Guest House
30,Rikitea,PF,74.21,74,74,7.45,broken clouds,-23.1203,-134.9692,People ThankYou
34,Asyut,EG,79.27,41,76,8.63,broken clouds,27.1810,31.1837,Florence Hotel Assiut
38,Cape Town,ZA,62.10,91,0,6.91,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
41,Paco De Arcos,PT,70.50,57,0,1.01,clear sky,38.6957,-9.2914,HI Oeiras – Pousada de Juventude
42,Hobart,AU,63.23,59,75,5.01,broken clouds,-42.8794,147.3294,Mantra on Collins Hobart
43,Jamestown,US,63.99,89,90,3.00,overcast clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown

In [47]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [53]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [54]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))